PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_URL=

JWT_ACCESS_SECRET=
JWT_TRYOUT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
ACCESS_TOKEN_TTL_MINUTES=60
REFRESH_TOKEN_TTL_DAYS=7

MAILTRAP_API_TOKEN=
MAILTRAP_API_URL=https://send.api.mailtrap.io/api/send
MAILTRAP_SENDER_EMAIL=
MAILTRAP_SENDER_NAME=OmahTryOut
MAILTRAP_CATEGORY=Password Reset
PASSWORD_RESET_URL_BASE=

CORS_URL=
COOKIE_DOMAIN=
COOKIE_SECURE=

ENVIRONMENT=development